{% set nix_python_version = (python_version | replace(".", "")) -%}
{
{%- if asleep %}
  description = {{ project_description | to_json(ensure_ascii=False) }};
{% endif %}
  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixpkgs-unstable";
    flake-utils.url = "github:numtide/flake-utils";
    pre-commit-hooks = {
      url = "github:cachix/pre-commit-hooks.nix";
      inputs = {
        nixpkgs.follows = "nixpkgs";
        flake-utils.follows = "flake-utils";
      };
    };
  };

  outputs = inputs@{ self, ... }:
    with inputs;
    flake-utils.lib.eachDefaultSystem (system:
      let
        pkgs = import nixpkgs { inherit system; };
        python = pkgs.python{{ nix_python_version }};
        pythonPkgs = pkgs.python{{ nix_python_version }}Packages;

        deps = (ps: with ps; [ setuptools ]);
        devDeps = (ps: with ps; [
          autoflake
          black
          bpython
          python-lsp-server
          python-lsp-black
          python-lsp-ruff
          icecream
          isort
{%- if use_mypy %}
          mypy
          pylsp-mypy
{%- endif %}
          pylsp-rope
        ]);
{%- if has_tests %}
        testDeps = (ps: with ps; [ pytest ]);
{%- endif %}
      in
      {
        packages = rec {
          default = pythonPkgs.buildPythonApplication {
            pname = "{{ project_name }}";
            version = "0.0.1";
            pyproject = true;
            src = ./.;

            propagatedBuildInputs = [ (python.withPackages deps) ];
{%- if has_tests %}
            checkInputs = [ (python.withPackages testDeps) ];
{%- endif %}
          };
          {{ project_name }} = default;
        };

        apps = rec {
          default = {
            type = "app";
            program = "${self.packages.${system}.default}/bin/{{ project_name }}";
          };
          {{ project_name }} = default;
        };

        devShells.default = with pkgs;
          mkShell {
            inherit (self.checks.${system}.pre-commit-check) shellHook;
            packages = [
              (python.withPackages (ps: (deps ps) ++ (devDeps ps){% if has_tests %} ++ (testDeps ps){% endif %}))
              ruff

              # Nix
              nixpkgs-fmt
              nil
              statix

              # TOML
              taplo
            ];
          };

        formatter = pkgs.nixpkgs-fmt;

        checks = {
          pre-commit-check = pre-commit-hooks.lib.${system}.run {
            src = ./.;
            hooks = {
              nixpkgs-fmt.enable = true;
              autoflake = {
                enable = true;
                package = pythonPkgs.autoflake;
                settings = {
                  flags = builtins.concatStringsSep " " [
                    "--in-place"
                    "--remove-all-unused-imports"
                    "--remove-duplicate-keys"
                    "--remove-unused-variables"
                    "--expand-star-imports"
                  ];
                };
              };
              black = {
                enable = true;
                package = pythonPkgs.black;
              };
              isort = {
                enable = true;
                package = pythonPkgs.isort;
              };
              taplo.enable = true;
              copier-rejects = {
                enable = true;
                entry = "found Copier update rejection files; review them and remove them";
                files = "\\.rej$";
                language = "fail";
              };
            };
          };
        };
      });
}
