[project]
name = "{{ project_name }}"
version = "0.1.0"
description = {{ project_description | to_json(ensure_ascii=False) }}
requires-python = ">={{ python_version }}"

[project.scripts]
{{ project_name }} = "{{ project_name }}.main:main"

[tool.setuptools]
packages = ["{{ project_name }}"]

[tool.black]
line-length = 80
target-version = ["py{{ (python_version | replace(".", "")) }}"]

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 80
overwrite_in_place = true

[tool.ruff]
line-length = 80
target-version = ["py{{ (python_version | replace(".", "")) }}"]
